<h1> App Component</h1>
<!-- <button (click)="add()">Add</button>
 <app-input1 [item]="someData"></app-input1> -->


 <!-- <div style="direction: rtl;">
  <h2>מצעד העוגות</h2>
  <app-input-with-for *ngFor="let cake of cakes" [cake]="cake"></app-input-with-for>
</div> -->

<!-- 
  <p>pass data from child to parent </p> 
<app-output1 (changeNameEvent)="changeName($event)"></app-output1>

(in Parent) Your name is : {{name}} -->


<!-- <app-two-way-bindings></app-two-way-bindings> -->
<!-- <app-template-var></app-template-var> -->
<!-- <app-pipes></app-pipes> -->

<!-- <app-form-validation></app-form-validation> -->
<!-- <app-use-my-service></app-use-my-service> -->
<app-use-my-rx></app-use-my-rx>